
.control-btn {
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    width: 100px;
    position: relative;
    float: left;
}

input {
    border: solid .5px black;
}
#header {
    width: 100%;
    height: 4em;
    text-align: center;
} #header h1 {
        font-size: 28pt;
        font-weight: 500;
    }

#main-container {
    display: flex;
    justify-content: space-around;
    margin: 5% 0% 5% 0%;
}
    #buttons {
        width: 50%;
        margin-left: 5%;
    }
        #buttons .button {
            height: 75px;
            width: 75px;
            margin: 1% 1% 1% 1%;
        }

    .dropdown {
        margin-right: 5%;
    }
        .is-active {
            height: 2em;
        }

#search-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
} #search-container h4 {
    font-size: 14pt;
    font-weight: bold;
}
    .search-input {
        width: 75%;
        height: 1.8em;
        border
    } .submit-btn {
        border: 1px solid grey;
        border-radius: 3px;
        padding: 1px 1px 1px 1px;
        margin-left: 3px;
        height: 1.9em;
    }

#recording-container {
    display: flex;

}


.dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
  }
  
  .drop-active {
    border-color: #aaa;
  }
  
  .drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
  }
  
  .drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
  
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
  
    touch-action: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  
    transition: background-color 0.3s;
  }
  
  .drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
  }